<div class="card">
  <div class="card-body">
    <div *ngIf="messages?.length ===0">
      <p>No messages yet... say hi my using the message box below</p>
    </div>
    <ul class="chat">
      <li *ngFor="let message of messages">
    
        <div *ngIf="message.senderId != recipientId">
          <div class="chat-body text-right">
            <span style="font-size: 12px;">{{message.messageSent|date:'shortTime'}}</span>
            <div class="send-message">
              <p class="text-left">{{message.content}}</p>
            </div>
          </div>
        </div>

        <div *ngIf="message.senderId == recipientId">
          <span class="chat-img float-left">
            <img src="{{message.recipientPhotoUrl}}" alt="{{message.recipientKnownAs}}" class="rounded-circle">
          </span>
          <span style="font-size: 12px;">{{message.recipientKnownAs}},{{message.messageSent | date:'shortTime'}}</span>
          <div class="receive-message">
            <p class="text-left">{{message.content}}</p>
          </div>
        </div>

      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input type="text" ngDefaultControl
        [(ngModel)]="newMessage.content" name="content" required
        class="form-control input-sm" placeholder="Type message...">
        <div class="input-group-append">
          <button class="btn btn-primary" [disabled]="!messageForm.valid"><i class="fa fa-send"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
